/* MARK: common */
body {
	margin: 0;
	padding: 0;
}

.sombra {
	filter: drop-shadow(2px 4px 8px rgba(0,0,0,0.15)) 
			drop-shadow(4px 2px 4px rgba(0,0,0,0.1));
}

/* MARK: Header */
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.header-img {
	display: block;
	width: 450px;
	height: 100%;
}

.header-info {
	padding: 20px;
}

/* MARK: Perfil */

.perfil {
	width: 500px;
	margin: 10px;
}